@use '_variables' as *;

@mixin fontSize($size, $lineHeight, $weight: 400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

@mixin scrollSmooth() {
  scroll-margin-top: 5rem;
  scroll-behavior: smooth;
}

@mixin mobileLg {
  @media (width >= 64rem) {
    @content;
  }
}

@mixin mobileSm {
  @media (width >= 40rem) {
    @content;
  }
}

@mixin desktop {
  @media (width >= 96rem) {
    @content;
  }
}

.btn {
  padding: 0.8rem 1rem;
  @include fontSize(0.75rem, 1rem);
  border: none;
  background-color: $color-500;
  text-transform: uppercase;
  width: 200px;
  border-radius: 16px;
  cursor: pointer;
  @include mobileSm {
    width: 250px;
    padding: 1rem 2rem;
    @include fontSize(0.875rem, 1.25rem);
  }

  &:hover {
    background-color: $color-800;
  }
}

.title {
  @include fontSize(1.75rem, 2rem, 600);
  font-family: $font-secondary;
  font-style: italic;
  color: $color-500;
  @include mobileSm {
    @include fontSize(2.25rem, 2.5rem, 600);
  }
}

.bordered {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid $color-200;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 250px;
    background-color: $color-500;
  }
}
