@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$color-100: #fffcf2;
$color-200: #ccc5b9;
$color-300: #403d39;
$color-400: #252422;
$color-500: #eb5e28;
$color-600: #8d8883;
$color-700: #3f0f0b;
$color-800: #ef7d48;
$font-primary: 'Public Sans', sans-serif;
$font-secondary: 'Fraunces', serif;