@use '_variables' as *;
@use 'header';
@use 'global';
@use 'home';
@use 'about';
@use 'testimonials';
@use 'clients';
@use 'services';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $color-100;
  font-family: $font-primary;
  color: $color-400;
}

main {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
