@use '_variables' as *;
@use 'header';
@use 'global' as *;
@use 'home';
@use 'about';
@use 'testimonials';
@use 'clients';
@use 'services';
@use 'footer';
@use 'animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $color-100;
  font-family: $font-primary;
  color: $color-400;
}

main {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include mobileSm {
    padding: 3rem 3rem;
  }
}

#arrow-up {
  display: none;
}

.arrow-up {
  position: fixed;
  bottom: 1%;
  left: 88%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: $color-400;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @include mobileSm {
    left: 95%;
    width: 80px;
    height: 80px;
  }
}
